@import '~antd/dist/antd.css';

/* 页面容器 */

.main__container {
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    min-height: 100vh;
}


/* 页面内容 */

.main__content {
    max-width: 1000px;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;
    padding: 40px 30px;
}


/* 子内容 */

.sub__content {
    background-color: #f0f2f5;
    padding: 30px;
    margin-bottom: 15px;
}

.main__header {
    display: table;
    background-color: white;
}

body {
    font-family: Microsoft Yahei, sans-serif;
}

.essay__title__h1 {
    font-size: 2.6em !important;
    color: #464646 !important;
    line-height: 1.8 !important;
    font-family: Microsoft Yahei, sans-serif;
    text-align: left;
}

.essay__title__h2 {
    font-size: 2.1em !important;
    color: #464646 !important;
    line-height: 1.8 !important;
    font-weight: 500 !important;
    font-family: Microsoft Yahei, sans-serif;
    opacity: 0.8;
    text-align: left;
}


/* 文章右对齐 */

.essay__text {
    font-family: "Garamond", "Times New Roman", "Times", serif;
    text-indent: 2em;
    text-align: justify;
    font-size: 20px;
}

.footer {
    padding-left: auto;
    padding-right: auto;
    margin-top: 50px;
    width: 100%;
    background-color: #3c3c3c;
    font-family: Microsoft Yahei, sans-serif;
    font-size: 18px;
    color: #fff;
    height: fit-content;
    text-align: center;
}

.markdown {
    text-align: justify;
}

.markdown img {
    max-width: 90%;
    min-width: 10%;
    margin: 0 auto;
    display: block;
}


/* menu */

.menu {
    padding: 1px 50px;
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
}

.menu__logo {
    height: 70px;
    width: 150px;
    margin-left: 25px;
    float: left;
}


/* .menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
} */

.menu__container .ant-menu-item {
    padding-left: 15px;
    line-height: 70px;
}

.menu__container .ant-menu-submenu-title {
    padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
    padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
    border-bottom: none;
}

.menu__container .menu_left {
    float: left;
}

.menu__container .menu_rigth {
    float: right;
}

.menu__mobile-button {
    float: right;
    height: 32px;
    padding: 10px;
    line-height: 14px;
    margin-top: 20px;
    margin-right: -24px;
    display: none !important;
    /* use of important to overwrite ant-btn */
    background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
    padding: 0 !important;
}


/* align header of Drawer with header of page */

.menu_drawer .ant-drawer-header {
    padding: 10px 24px !important;
}

@media (max-width: 767px) {
    .menu__mobile-button {
        display: inline-block !important;
    }
    .menu_left,
    .menu_rigth {
        display: none;
    }
    .menu__logo {
        margin-left: -20px;
    }
    .menu__container .ant-menu-item,
    .menu__container .ant-menu-submenu-title {
        padding: 1px 20px;
    }
    .menu__logo a {
        padding: 10px 20px;
    }
}


/* .ant-table-fixed {
    table-layout: fixed;
} */


/* 
.ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-all;
} */